@charset "UTF-8";
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

.container {
	width: 70%;
}

.header {
	margin: 0;
	margin-bottom: 50px;
	padding: 100px 0;
}

.clip-logo img{
	width: 200px;
	float: left;
}

.search-box {
	float: left;
	margin: 0 0 0 20px;
	padding: 11px;
	width: 50%;
	border: 5px solid #000000;
	font-size: 25px;
}

.search-btn {
	float: left;
	margin: 0;
	padding: 11px;
	background-color: #000000;
	border: 5px solid #000000;
}

.search-btn span {
	margin: 0;
	padding: 0 5px 0 0;
	font-size: 28.5px;
	color: #ffffff;
}
