@charset "UTF-8";

.clip-navbar {
	border-top: 1px solid #DDDDDD;
	border-bottom: 2px solid #DDDDDD;
}

.clip-navbar ul li {
	color : #000000 !important;
}

.clip-navbar ul li a {
	text-decoration: none;
	color: #000000 !important;
	display: block;
	font-size: 16px;
}

.clip-navbar ul li a:hover {
	background-color: #ffffff;
}